#firstTitle{
    font-family: 'arial';
    color:hsl(0, 36%, 70%);
    text-align: right;
    margin-top:200px;
    padding-right:990px;
   
    }
  #secondTitle{
    font-family: 'arial';
    color:hsl(0, 2%, 8%);
    text-align: right;
    padding-right:950px;
    
  }
  .first-container p{
    font-size: 11px;
    font-family: arial;
    padding-left:50px;
    color:hsl(0, 36%, 70%);
    font-style: oblique;


  }
  .image{
    top: 0px;
    width: 100%;
    height: 100%;
    padding-left: 100px;
    position:absolute;
    z-index: -1;
  }
.image1{
    width: 30%;
    height:90%;
    padding-left: 800px;
    margin-top:-290px;
  }
  .image2{
    width: 10%;
    height:30%;
    position:relative;
    top:-190px;
    padding-left:20%;
  }
  #containerButton button{
    width: 20%;
    background-color: hsl(300, 100%, 100%);
    color:hsl(0, 36%, 70%);
    height: 40px;
    border-radius: 40px;
    font-size: 12px;
    margin-top:-600px;
    margin-left:250px;
    border: 1px solid #070707;
  }
  